.subject-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.subject-block {
    font-weight: bold;
}

.subject-desc{
    font-size: 11px;
    margin-left: 1em;
    font-style: italic;
    color: #666;
    font-weight: normal;
}